.container {
  flex: 1;
  min-width: 0;
  border: 5px solid #ccc;
  border-radius: 20px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.axiom-grid {
  display: grid;
  flex: 1;
  min-height: 0;
  width: 100%;
  max-width: 600px;
  max-height: 450px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  row-gap: 10px;
  background-color: dodgerblue;
  padding: 10px;
}

.axiom-button {
  display: flex;
  align-items: center;
  gap: 8px;
}

.axiom-button-base {
  padding: 10px 16px;
  font-size: 14px;
  width: 140px;
  height: 44px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: left;
  background-color: #07b9ff;
}

.axiom-button-base--selected {
  background-color: #ff4107;
}

.info-button-wrapper {
  position: relative;
  flex-shrink: 0;
}

.info-button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 999px;
  padding: 0;
  line-height: 24px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ccc;
}

.rule-panel-info-btn:focus,
.rule-panel-info-btn:active {
  outline: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.tooltip {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 6px;
  z-index: 999;
  background: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
  pointer-events: none;
}

.apply-button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #07b9ff;
}
