/**
 * Global color theme. Import once (e.g. in main.tsx) then use var(--color-name) in any stylesheet.
 *
 * W  = white
 * B  = black
 * DP = dark pink
 * MP = medium pink
 * LP = light pink
 */
:root {
  --color-w: #ffffff;
  --color-b: #000000;
  --color-dp: #ff7aad;
  --color-mp: #ff9bc5;
  --color-lp: #ffcfe3;

  
  --gradient-main: radial-gradient(circle,rgba(255, 255, 255, 1) 33%, rgba(0, 0, 0, 1) 100%);
  --gradient-radial: radial-gradient(circle,rgba(255, 122, 173, 1) 25%, rgba(0, 0, 0, 1) 100%);
  --gradient-outside-nodes: radial-gradient(circle,rgba(255, 155, 197, 1) 10%, rgba(0, 0, 0, 1) 80%);
  --gradient-inside-nodes: linear-gradient(0deg,var(--color-lp) 0%, var(--color-w) 100%);
  --gradient-node-border: linear-gradient(0deg,rgba(255, 122, 173, 1) 0%, rgba(255, 155, 197, 1) 100%);
}
